.small-dp-container {
  width: 192px;
  height: 94px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #20212c;
  border-radius: 8px;
  position: absolute;
  right: -100px;
  bottom: -110px;
  padding: 16px;
  font-weight: normal;
  font-size: 13px;
  box-shadow: 0px 4px 6px 0px #0000001a;
}

.small-dp-container > :first-child {
  color: #828fa3;
  cursor: pointer;
}

.small-dp-container > :last-child {
  color: #ea5555;
  cursor: pointer;
}

.board {
  right: 0;
  top: 100px;
}
