.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.parent {
  position: relative;
}

.field-wrapper label {
  font-size: 12px;
}

.input {
  border: 1px solid #828fa340;
  background: #2b2c37;
  border-radius: 4px;
  width: 100%;
  min-height: 40px;
  padding: 8px 16px;
  outline: none;
  font-weight: normal;
  font-size: 13px;
}

.textarea {
  min-height: 112px;
  resize: none;
}

.subtask-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.button {
  border-radius: 20px;
  background: white;
  height: 40px;
  text-align: center;
  color: #635fc7;
  font-size: 13px;
  font-weight: bold;
  border: none;
}

.submit {
  background: #635fc7;
  color: white;
}

/* VIEW TASK */

.view-task-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.view-task-content h1 {
  margin: 0;
}
.view-task-content h3 {
  font-size: 14px;
  font-weight: normal;
  color: #828fa3;
}

.view-task-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
}

.view-task-title img {
  cursor: pointer;
}

.view-task-content h4 {
  font-size: 13px;
}

.completed {
  background: #635fc7;
  width: 16px;
  height: 16px;
  padding: 3px;
  border-radius: 2px;
  text-decoration: line-through;
}

.line-through {
  text-decoration: line-through;
  color: #828fa3;
}

.not-completed {
  background: #2b2c37;
  min-width: 16px;
  min-height: 16px;
  border-radius: 2px;
}

.subtask {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 13px;
  background: #20212c;
  gap: 20px;
  margin: 8px 0px;
  border-radius: 4px;
}

.status-list {
  font-size: 13px;
  position: absolute;
  width: 100%;
  padding: 16px;
  background: #20212c;
  bottom: -140px;
  border-radius: 8px;
}

.status-list div {
  color: #828fa3 !important;
  padding: 8px 0px;
}

.current-status {
  margin-bottom: 8px;
}
