.modal-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0000007b;
  mix-blend-mode: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  border-radius: 6px;
  padding: 32px;
  width: 480px;
  height: auto;
  background: #2b2c37;
  font-weight: bold;
}

.modal h1 {
  font-size: 18px;
  margin-bottom: 24px;
}
