@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");

body {
  background: #191a22;
}
* {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: white;
}

button {
  cursor: pointer;
}

.Kanban {
  display: flex;
  justify-content: space-evenly;
  background: #20212c;
  width: fit-content;
  gap: 4px;
  padding: 24px;
}

.column {
  min-height: 500px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.card {
  font-size: 15px;
  border-radius: 8px;
  padding: 23px 16px;
  width: 280px;
  background-color: #2b2c37;
  margin: 10px 0px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
}

.card p {
  font-size: 12px;
  color: #828fa3;
  padding-top: 8px;
}

.column-name {
  color: #828fa3;
  font-size: 12px;
  margin-bottom: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.add-new-column {
  margin-top: 48px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  background: linear-gradient(
    180deg,
    rgba(43, 44, 55, 0.25) 0%,
    rgba(43, 44, 55, 0.125) 100%
  );
  border-radius: 6px;
  font-weight: bold;
  font-size: 24px;
  color: #828fa3;
}

.add-new-column:hover {
  color: #635fc7;
}
/* Layout styling */
.container {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  gap: 0px;
  height: 100vh;
  width: 100%;
}

.sidebar {
  background-color: #2b2c37;
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 7;
  grid-column-end: 3;
  border-right: 1px solid #3e3f4e;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 32px;
  font-size: 14px;
  justify-content: space-between;
}

.logo {
  cursor: default !important;
  padding-top: 20px;
  margin-left: 20px;
}
.sidebar-boards {
  font-weight: bold;
  margin-top: 65px;
}

.absolute {
  background: #635fc7;
  position: absolute;
  bottom: 34px;
  left: 0;
  z-index: 50;
}
.list-board {
  font-weight: bold;
  color: #828fa3;
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 15px;
  padding: 14px 20px;
  border-radius: 0px 100px 100px 0px;
  cursor: pointer;
}

.list-board:hover {
  background: white;
  color: #635fc7;
}

.list-board:hover img {
  filter: invert(100%) sepia(97%) saturate(1589%) hue-rotate(221deg)
    brightness(81%) contrast(110%);
}

.blue-board {
  filter: invert(100%) sepia(97%) saturate(1589%) hue-rotate(221deg)
    brightness(81%) contrast(110%);
}
.sidebar-boards h4 {
  font-weight: bold;
  color: #828fa3;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.active {
  background-color: #635fc7;
  color: white;
}

.active img {
  filter: brightness(0) invert(1);
}

.blue {
  color: #635fc7;
}

/* 0 / 3 sidebar, 0, 1 nosidebar */
.header {
  background-color: #2b2c37;

  grid-column-start: 3;

  grid-row-end: 2;
  grid-column-end: 10;
  border-bottom: 1px solid #3e3f4e;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  justify-content: space-between;
}

.full {
  grid-column-start: 1;
}

.grow {
  flex-grow: 1;
  padding-left: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 30px;
  border-left: 1px solid #3e3f4e;
}
.header h1 {
  font-size: 24px;
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.header img {
  padding: 5px;
  cursor: pointer;
}

.header button {
  background-color: #635fc7;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-weight: bold;
  font-size: 15px;
  padding: 14px 24px;
  cursor: pointer;
}

.header button:hover {
  background-color: #a8a4ff;
}

main {
  position: relative;
  background-color: #20212c;
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 7;
  grid-column-end: 10;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

main::-webkit-scrollbar {
  display: none; /* Safari and Chrome*/
}

.column-name-wrapper {
  display: flex;
  gap: 12px;
}
